streamlit
langchain
langchain-core
langchain-community
langchain-classic
langchain-text-splitters
langchain-groq
langchain-openai
langchain-huggingface
pydantic

# Requisitos para vetorização e busca
faiss-cpu  
sentence-transformers

# Requisitos para processamento de documentos
pypdf
python-docx
pdfminer.six
unstructured

# Utilitários
python-dotenv
